<!DOCTYPE html>
<html lang="nl">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sportiek</title>
    <link rel="stylesheet" href="./style.css" />
</head>

<body>


    <div class="dropdown">
        <button class="dropdown-btn">Complex naam</button>
        <div class="content">
            <% uniqueData.forEach(info => {  %>
            <a href="?complex_name=<%= info.complex_name %>"><%= info.complex_name %></a>
            <% }) %>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropdown-btn">Aantal bedden</button>
        <div class="content">
            <% uniqueData.forEach(info => {  %>
            <a href="?numberOfBeds=<%= info.numberOfBeds %>"><%= info.numberOfBeds %></a>
            <% }) %>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropdown-btn">Aantal slaapkamers</button>
        <div class="content">
            <% uniqueData.forEach(info => {  %>
            <a href="?bedroom=<% info.bedrooms %>"><%= info.numberOfBeds %></a>
            <% }) %>
        </div>
    </div>

    <nav>
        <a href="?sort=complex_name">complex naam</a>
        <a href="?sort=numberOfBeds">aantal bedden</a>
        <a href="?sort=bedrooms">aantal slaapkamers</a>
    </nav>


    <section>
        <table>
            <thead>
                <tr>
                    <th>Skigebied</th>
                    <th>Dorp</th>
                    <th>Accommodatie</th>
                    <th>Kamertype</th>
                    <th class="date">25-11-2023</th>
                    <th class="date">02-12-2023</th>
                    <th class="date">09-12-2023</th>
                    <th class="date">16-12-2023</th>
                    <th class="date">23-12-2023</th>
                    <th class="date">30-12-2023</th>
                    <th class="date">06-01-2024</th>
                    <th class="date">13-01-2024</th>
                    <th class="date">20-01-2024</th>
                    <th class="date">27-02-2024</th>
                    <th class="date">03-02-2024</th>
                    <th class="date">10-02-2024</th>
                    <th class="date">17-02-2024</th>
                    <th class="date">24-02-2024</th>
                    <th class="date">02-03-2024</th>
                    <th class="date">09-03-2024</th>
                    <th class="date">16-03-2024</th>
                    <th class="date">23-03-2024</th>
                    <th class="date">30-03-2024</th>
                    <th class="date">06-04-2024</th>
                    <th class="date">13-04-2024</th>
                    <th class="date">20-04-2024</th>
                    <th class="date">27-04-2024</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(info => {  %>
                <tr>
                    <td></td>
                    <td></td>
                    <td><%= info.complex_name %></td>
                    <td><%= info.variantName %></td>

                    <% 
                    const dates=    
                    ['25-11-2023', '02-12-2023' , '09-12-2023' , '16-12-2023' , '23-12-2023'
                    , '30-12-2023' , '06-01-2024' , '13-01-2024' , '20-01-2024' , '27-01-2024' , '03-02-2024',
                    '10-02-2024', '17-02-2024', '24-02-2024', '02-03-2024', '09-03-2024', '16-03-2024', 
                    '23-03-2024', '30-03-2024', '06-04-2024', '13-04-2024', '20-04-2024', '27-04-2024' ];

                   
                        for(let i=0; i < dates.length; i++){
                           
                            if (info.departureDates.includes(dates[i])){
                                %><td class="date" style="--bg-color: green;"></td><%
                            }
                            else{
                                %><td class="date" style="--bg-color: red;"></td><%
                            }
                        }
                        
                   %>  
                            
                </tr>
              
                </tbody>  
                <% }) %>
        </table>
    </section>

</body>

</html>